<html>
  <head>
    <!-- <meta http-equiv="refresh" content="3"> -->
  </head>

  <body
    style="
      width: 21cm;
      height: 29.7cm;
      display: block;
      font-family: Inter, sans-serif;
    "
  >
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <table style="width: 100%; background: #eeeeee; padding: 10px">
      <tr>
        <td style="text-align: left; padding: 10px">
          <h1 style="line-height: 1rem">Event Proposal Report</h1>
          <h2 style="line-height: 1rem; font-weight: 500">Finverse Club</h2>
        </td>
        <td style="width: 120; text-align: right">
          <img
            width="80"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/PSG_College_of_Technology_logo.png/220px-PSG_College_of_Technology_logo.png"
          />
        </td>
      </tr>
    </table>

    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr style="margin: 0">
        <td style="width: 25%; padding: 10px">
          <b>Event Name</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">Finvest</p>
        </td>
        <td style="width: 25%; padding: 10px">
          <b>Event Proposal Date</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">30 Dec 2022</p>
        </td>
      </tr>
      <tr style="margin: 0">
        <td style="width: 25%; padding: 10px">
          <b>Event Start Date</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">4 Jan 2023, 05:30 PM</p>
        </td>
        <td style="width: 25%; padding: 10px">
          <b>Event End Date</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">4 Jan 2023, 07:30 PM</p>
        </td>
      </tr>
      <tr>
        <td style="width: 25%; padding: 10px">
          <b>Venue</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">D Block Conference Hall</p>
        </td>
        <td style="width: 25%; padding: 10px">
          <b>Expected Participant Count</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">250</p>
        </td>
      </tr>
    </table>

    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr>
        <td style="width: 25%; padding: 10px">
          <b>Chief Guest</b>
        </td>
        <td style="width: 75%; padding: 10px">
          <p class="">Mr. Mano Venkatesh, Marketing Manager Osmo</p>
        </td>
      </tr>
    </table>

    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr style="margin: 0">
        <td style="width: 16%; padding: 10px">
          <b>Expected Expense</b>
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">15000</p>
        </td>
        <td style="width: 16%; padding: 10px">
          <b class="">Total Amount Allocated by SU</b>
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">20000</p>
        </td>
        <td style="width: 16%; padding: 10px">
          <b class="">Total Amount spent till date of request</b>
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">40000</p>
        </td>
      </tr>
      <tr style="margin: 0">
        <td style="width: 16%; padding: 10px">
          <b
            >Is the event being conducted in collaboration with any other
            organization</b
          >
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">Yes</p>
        </td>
        <td style="width: 16%; padding: 10px">
          <b class="">Name of organization</b>
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">Students Union</p>
        </td>
        <td style="width: 16%; padding: 10px">
          <b>How is the budget split </b>
        </td>
        <td style="width: 16%; padding: 10px">
          <p class="">Rs. 5000 - Finverse, Rs. 10000 - Students Union</p>
        </td>
      </tr>
    </table>

    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr style="margin: 0">
        <td style="width: 25%; padding: 10px">
          <b>Faculty Observer Name</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">Dr. Shankar R</p>
        </td>
        <td style="width: 25%; padding: 10px">
          <b class="">Faculty Observer Department</b>
        </td>
        <td style="width: 25%; padding: 10px">
          <p class="">Department of Humanities</p>
        </td>
      </tr>
    </table>

    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr style="margin: 0; width: 100%">
        <td style="width: 25%; padding: 10px">
          <b>Event Description</b>
        </td>
        <td style="width: 75%; padding: 10px">
          <p align="justify">
            Financial literacy is a crucial skill that everyone should have, but
            it can often be a dry and intimidating topic. That's why we're
            bringing you a session on financial literacy with a twist - we're
            adding a dose of comedy to make it more engaging and enjoyable!
            During this session, you'll learn about important financial concepts
            and strategies, such as budgeting, saving, investing, and managing
            debt. But instead of just hearing lectures and taking notes, you'll
            also get to enjoy some humorous skits and jokes that make the
            information more memorable and relatable. Whether you're a financial
            novice or an experienced investor, this session is sure to have
            something for you. So come join us for a fun and informative evening
            of financial literacy and comedy!
          </p>
        </td>
      </tr>
    </table>
    <table style="width: 100%; background: #ffffff; padding: 10px">
      <tr style="margin: 0; width: 100%">
        <td style="width: 25%; padding: 10px">
          <b>Comments</b>
        </td>
        <td style="width: 75%; padding: 10px">
          <p align="justify">NA</p>
        </td>
      </tr>
    </table>
    <p
      style="padding: 55px; font-weight: bold; font-size: medium; float: right;"
    >
      Signature
    </p>
  </body>
</html>
